<ul id="chatArea" #scrollChatArea [scrollTop]="scrollChatArea.scrollHeight">
 <li *ngFor="let chatMsg of chatMessages">
   <!-- <div class = 'imgTag' *ngIf="chatMsg.isChatBot"> -->
       <img class = 'imgTag' *ngIf="chatMsg.isChatBot" src = "assets/images/chatbot_img.png"/>
   <!-- </div> -->
   <div class='nameTag' *ngIf = "!chatMsg.isChatBot" 
                [style.background]="chatMsg.userAvatarColor">{{chatMsg.userName[0] | uppercase}}</div>
   <div class='chatTag'>
     <div class = 'upper'>{{chatMsg.userName}} :</div>
     <div class = "middle"><img src = "assets/images/clock.png">
                     <span><i>{{chatMsg.chatDate | date: 'fullDate'}} at {{chatMsg.chatDate | date: 'shortTime'}}</i></span></div>
     <div class = 'lower'>{{chatMsg.chat}}</div>
   </div>
 </li>
</ul>