#chatArea{
	position:relative;
	width: 98%;
	height: 72%;
	padding: 1%;
	/* border:1px solid green; */
	margin: 0;
	list-style-type: none;
	overflow-y:scroll;
	overflow-x:hidden;
	background:#cee3e2;
	border: 1px solid #558C89;
	border-bottom:0;
}

#chatArea li{
	font-family: Tahoma, Arial, sans-serif;
	color: #558C89;
	position:relative;
	width: 96%;
	/* height: 16%; */
	padding: 0 1% 0 1%;
	margin:1%;
	border-bottom:1px solid #558C89;
	/* float: right; */
	overflow-y: overlay;
	animation: chatAddItem 0.5s;
}

.nameTag{
	position: relative;
	width: 5%;
	margin: 1%;
	padding: 1%;
	border-radius:50%;
	background-color: red;
	color:white;
	font-size: 30px;
	font-weight:bold;
	text-align: center;
	box-shadow:0 8px 5px -5px #558C89;
}

.chatTag{
	position: relative;
	width: 90%;
	/* height:90%; */
	margin: -9% 0 0 0;
	left: 10%;
	overflow-y:  overlay;
	/* top: -10%; */
}

.chatTag > .upper{
	position:relative;
	width: 96%;
	padding: 1%;
	font-size: 0.9em;
	font-weight: bold;
}

.chatTag > .middle{
	position:relative;
	width: 96%;	
}

.chatTag > .middle span{
  padding: 0;
	font-size: 0.7em;
	margin : -1% 0 0 0;
}

.chatTag > .middle img{
	width: 2%;
	height: 90%;
	margin : 0 0 0 1%;
	vertical-align: middle;
}

.chatTag > .lower{
	position:relative;
	width: 96%;
	padding: 1%;
	font-size: 1em;
	word-wrap:  break-word;
}

#typeIndicator{
	position:relative;
	margin:0;
	width:100%;
	height: 4%;
	background: #cee3e2;
	border: 1px solid #558C89;
	border-top : 0;
}
