<ul  class = 'joined'>
 <li *ngFor = "let joinMsg of userJoined.reverse();"  [@joinedSlideRight] = "joinedSlideRight">{{joinMsg.userName}} {{joinMsg.msgType}}</li>
</ul>
<ul  class = 'leave'>
 <li *ngFor = "let leaveMsg of userLeft.reverse();" [@leaveSlideLeft] = "leaveSlideLeft">{{leaveMsg.userName}} {{leaveMsg.msgType}}</li>
</ul>
<div id="chatBox">
<app-chat-function-user-count [uniqueMsgId] = "uniqueMsgId" [chatUserName] = "chatUserName" 
                         [avatarColor] = "avatarColor"></app-chat-function-user-count>
<app-chat-function-msgshowarea [chatUserName] = "chatUserName"></app-chat-function-msgshowarea>
<app-chat-function-typeind [uniqueMsgId] = "uniqueMsgId"></app-chat-function-typeind>
<app-chat-function-msg-send-area [chatUserName] = "chatUserName" [uniqueMsgId] = "uniqueMsgId" 
                               [avatarColor]="avatarColor"></app-chat-function-msg-send-area>
</div>
