.userNameDiv{
	position:absolute;
	width: 35%;
	left: 30%;
	top:40%;
	float:left;
	padding : 1%;
	/* border:1px solid black; */
}

.userNameTextBoxDiv{
	position:relative;
	width:68%;
	margin:0;
	padding:0;
	float:left;
}

.userNameTextBoxDiv input[type='text']{
	position:relative;
	width: 94%;
	margin: 1%;
	padding : 2%;
	font: 2em;
}

.userNameDiv button{
	position:relative;
	width: 20%;
	margin: 2.5% 1% 0 1%;
	padding : 2%;
	font: 25px;
}

.userNameEmpty{
	animation: animateIfEmpty 1s;
}

@keyframes animateIfEmpty{
    0%,20%,40%,60%,80%{  
    		transform: translateX(-5px);
    		border-bottom: 2px solid #558C89;
  		}
   	10%,30%,50%,70%,90%,100%{  
	 	 	transform: translateX(5px);
	 	 	border-bottom: 2px solid #558C89;
  		}
  		
}